body {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
    font-weight: normal;
    font-family: "PT Sans", "Tahoma", sans-serif;
    text-transform: uppercase;
    min-width: 1200px;
    margin: 0;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.feature-item h2,
.feature-item-2 h2 {
    color: #ffffff;
}

.main-navigation,
.search-promo-title {
    color: #333333;
    font-weight: bold;
}

.search-promo-title {
    font-size: 30px;
}

.hashtag {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}




 .filter input[type="checkbox"] {
    display: none;
}

 .filter input[type="checkbox"] + label {
    display: block;
    margin: 10px 0;
    line-height: 21px;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
    border: none;
}

 .filter input[type="checkbox"]:not(:checked) + label::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    left: 0px;
    background-image: url(../img/filter-sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -10px -40px;
}

 .filter input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/filter-sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 26px;
    height: 22px;
    background-position: -10px -82px;
    border: none;
}


.filter {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    width: 1200px;
    box-sizing: border-box;
}

.filter-left {
    margin: 0;
    padding: 0;
}

.filter-left-item {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.filter-options {
    margin-top: 27px;
    padding: 0;
    margin-left: 0;
    border: none;
    margin-right: 42px;
}

.filter-title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 14px;
}

.up {
    display: block;
}

.down {
    display: block;
}

.copyright {
    color: #000000;
}

.search-result-number,
.card-item-title {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
}

.sort-results-by-title {
    font-size: 12px;
    color: #000000;

}

.sort-by {
    font-size: 12px;

    text-decoration: underline;
}

.sort-by a:link {
    border-bottom: 1px dashed #81b3d2;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

.sort-by a {
    color: rgba(0, 0, 0, 0.3);
}

.sort-by a:visited {
    color: #81b3d2;
}

.sort-by a:hover {
    color: #81b3d2;
}

.rating-number {
    color: #666666;
}

.details {
    font-weight: bold;
    color: #ffffff;
}

html {
  background-color: #f2f2f2;
}












.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.container-main {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    position: relative;
}

.catalog-container {
    padding-left: 6%;
    padding-right: 6%;
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -69px;
    z-index: 1;
}

.main-header {
    margin-left: 6%;
    margin-right: 6%;
    background-color: #ffffff;
    min-height: 56px;
}

.main-menu {
    min-height: 40px;
    margin: 0;
    padding: 0;
}

.main-menu a {
    text-decoration: none;
    color: #000000;
}

.main-menu a:hover {
    color: #81b3d2;
}

.main-menu a:active {
    color: #000000;
    opacity: 0.3;
}

.main-menu li {
    list-style: none;
    padding-top: 17px;
    font-size: 14px;
}

.main-menu-right {
    text-align: right;
    float: right;

    width: 241px;
}

.main-menu-right:last-child {
    letter-spacing: 0.4px;
}

.main-header {
    font-size: 0;
}

.main-menu-left {
    text-align: left;
    float: left;

    width: 241px;
}

.banner {
    width: 1200px;
    height: 535px;
    margin: 0 auto;
    margin-bottom: 33px;
}

.banner-img {
    overflow: hidden;
}

.promo {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.promo-title {
    margin: 0;
    padding-bottom: 30px;
}

.promo-text {
    margin: 0;
}

.feature,
.feature-2 {
    background-color: #81b3d2;
}

.feature {
    margin-top: 54px;
}

.feature-item {
    color: #ffffff;
    text-align: center;
    float: left;
    width: 400px;
    padding: 46px 50px 50px 50px;
    box-sizing: border-box;
    margin: 0 auto;
}

.feature-item-2 {
    width: 400px;
    text-align: center;
    float: right;
    color: #ffffff;
    padding: 45px 35px 45px 35px;
    box-sizing: border-box;
    margin: 0 auto;
}

.feature-description {
    margin-top: 21px;
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
}

.feature-title {
    margin-top: 0;
    line-height: 21px;
    margin-bottom: 24px;
}

.feature-img {
    width: 800px;
    height: 256px;
    float: right;
    overflow: hidden;
}

.feature-img-2 {
    width: 800px;
    height: 256px;
    float: left;
    overflow: hidden;
}


.clearfix::after {
    content: "";
    display: table;

    clear: both;
}

.advice {
    margin: 0;
    padding: 0;
    width: 1200px;
}

.advice-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.advice-description {
    margin: 0;
}

.advice-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 400px;
    padding: 158px 50px 83px 50px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.advice-item::before {
    content: "";
    display: block;
    background-image: url(../img/feature-icons.png);
    background-repeat: no-repeat;
}

.house::before  {
    width: 75px;
    height: 72px;

    background-position: -10px -10px;
    position: absolute;
    top: 58px;
    left: 160px;
}

.burger::before {
    width: 74px;
    height: 70px;

    background-position: -105px -10px;
    position: absolute;
    top: 59px;
    left: 163px;
}

.gift::before {
    width: 64px;
    height: 76px;

    background-position: -199px -10px;

    position: absolute;
    top: 56px;
    left: 169px;
}


.fact {
    list-style: none;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    width: 1200px;
}

.fact-item {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 400px;
    padding: 47px 60px 59px 60px;
    margin: 0 auto;
    box-sizing: border-box;
}

.fact-title {
    margin-top: 0;
    line-height: 21px;
    margin-bottom: 24px;
}

.fact-description {
     margin-top: 21px;
     margin-bottom: 0;

}

.fact-item:first-child {
  margin-left: 0;
}


.search-promo {
    text-align: center;
    margin: 0 auto;
    padding-top: 56px;

}

.search-promo-description  {
    padding: 25px 200px 48px 200px;
    line-height: 24px;
    width: 470px;
    margin: 0 auto;

}

.search-promo-btn {
    display: block;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    width: 568px;
    margin: 0 auto;
    padding: 33px 0;
    background-color: #766357;
    text-decoration: none;
}

.footer {
    background-color: #ffffff;

    padding-top: 35px;
    padding-bottom: 3px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;


}


.twitter {
    background: url(../img/twitter-icon.png) no-repeat 15px 17px;
}

.facebook {
    background: url(../img/icon-facebook.png) no-repeat 16px 14px;
}

.youtube {
    background: url(../img/icon-youtube.png) no-repeat 13px 16px;
}

.footer-main {
    background-color: rgba(254, 254, 254, 0.9);
    position: absolute;
    bottom: 0;
    padding-top: 35px;
    padding-bottom: 45px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
}

.footer-hashtag {
    display: inline-block;
    width: 400px;
    text-align: center;
    vertical-align: middle;

    margin-top: 14px;

}

.footer-hashtag a {
    text-decoration: none;
}

.footer-social {
    width: 400px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
}

.footer-copyright {
    width: 400px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
}

.copyright {
   display: inline-block;
   vertical-align: middle;
   margin-right: 6px;
   font-size: 14px;
}

.footer-copyright-btn {
   display: inline-block;
   vertical-align: middle;
}

.footer-copyright-btn img {
   display: inline-block;
   vertical-align: middle;
}

.social-btn {
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin-right: 6px;
}

.social-btn:last-child {
    margin-right: 0px;
}

.filter {
    width: 1200px;
    height: 217px;
    background-image: url(../img/img-blur.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.filter-options {
    float: left;
    width: 20%;
}

.price-per-day {
    float: right;
    width: 318x;
    margin-top: 27px;
    margin-right: 0;
    margin-left: 0;
    border: none;
    padding: 0;
}

.search-results {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 32px;
    padding-top: 32px;
}

.search-result-number {
    float: left;
}

.sort-results-by {
    float: left;
    margin-left: 51px;
}

.sort-order {
    float: right;
    font-size: 0;
}

.sort-by {
    padding: 0;
    margin: 0;
    float: right;
}

.sort-by li {
    display: inline-block;
    vertical-align: center;
    margin-left: 35px;
}

.card {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f2f2f2;
}


.card-img {
    float: left;
    margin-right: 30px;
    margin-top: 5px;
}

.card-item {
    float: left;
    width: 650px;
}

.card-item-title {
    margin-top: 0;
    margin-bottom: 8px;
}

.type {
    margin-right: 4px;
    display: inline-block;
    width: auto;
    vertical-align: top;
}

.rating {
    float: right;
    text-align: right;
}

.stars {
    margin-bottom: 47px;
}

.rating-number {
    color: #666666;
    background-color: #f2f2f2;
    padding: 5px 15px;
}

.details {
    margin-top: 13px;
}

.more-details {
    display: inline-block;
    text-decoration: none;
    background-color: #81b3d2;
    color: #ffffff;
    padding: 3px 17px;
    margin-right: 2px;
}

.book-it {
    display: inline-block;
    text-decoration: none;
    background-color: #766357;
    color: #ffffff;
    padding: 3px 16px;
}

.search-form {
    position: absolute;
    width: 458px;
    left: 50%;
    margin-left: -284px;
    background-color: #ffffff;
    padding: 55px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    font-weight: bold;
    color: #000000;
}

.search-form {
    border: none;
}

.search-form label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.search-form fieldset {
    margin-bottom: 30px;
}

.date-in input[type="text"] {
    width: 306px;
    margin-left: 17px;
    box-sizing: content-box;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px 10px 12px;
    outline: none;
    background-color: #f2f2f2;
    border: none;
}

.date-out input[type="text"] {
    width: 306px;
    margin-left: 14px;
    box-sizing: content-box;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px 10px 10px;
    outline: none;
    background-color: #f2f2f2;
    border: none;
}


.counter .min {
    padding: 10px 6px 10px 6px;
     font-weight: bold;
    color: #c2c2c2;
    font-size: 18px;

}

.counter  .max {
    padding: 10px 6px 10px 6px;
     font-weight: bold;
    color: #c2c2c2;
    font-size: 18px;
}

.adults input[type="text"] {
    padding: 3px 10px 13px 17px;
}

.children input[type="text"] {
    padding: 3px 10px 13px 17px;
}


.number-of-people input[type="text"] {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    background-color: #f2f2f2;
    border: none;
}

.adults {
    float: left;

}

.adults label {
    margin-right: 35px;
}

.children {
    float: right;
}

.children label {
    display: inline-block;
    vertical-align: center;
}

.children .counter {
    margin-left: 19px;
}

.search-form fieldset {
    border: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.search-form [type="submit"] {
    display: block;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    margin-left: 0;
    margin-right: 0;
    width: 458px;
    padding: 18px 0;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    margin-top: 50px;
    outline: none;
}

.counter {
    font-size: 0;
    display: inline-block;
    vertical-align: center;
    background-color: #f2f2f2;
    border: none;
}

.counter button {
    outline: none;
    cursor: pointer;
    color: #a9a9a9;
    display: inline-block;
    width: 38px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 13px;
    border: none;
    background-color: #f2f2f2;
    font-weight: bold;
    color: #c2c2c2;
    font-size: 18px;
}

.number-of-people input[type="text"] {
    width: 15px;
    background-color: #f2f2f2;
}

.advice-sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin-left: 162px;
}

.sprite-icon-burger {
    width: 74px;
    height: 70px;
    background-position: -10px -10px;
}

.sprite-icon-gift {
    width: 64px;
    height: 76px;
    background-position: -104px -10px;
    margin-left: 169px;
}

.sprite-icon-house {
    width: 75px;
    height: 72px;
    background-position: -188px -10px;
}

.search-form-sprite {
    background-image: url(../img/search-form-spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    position: absolute;
    left: 85%;
    margin-top: -28px;
    width: 21px;
    height: 22px;
    background-position: -10px -10px;
    border: none;
    background-color: transparent;
}

.sprite-sort-order {
    background-image: url(../img/filter-sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-bottom {
    width: 11px;
    height: 10px;
    background-position: -10px -10px;
}

.sprite-bottom {
    width: 11px;
    height: 10px;
    background-position: -10px -10px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -10px -40px;
}

.sprite-checked {
    width: 26px;
    height: 22px;
    background-position: -10px -82px;
}

.sprite-top {
    width: 11px;
    height: 10px;
    background-position: -10px -124px;
    margin-right: 13px;
}

.sort-order a {
    text-decoration: none;

}

.rating-star {
    background-image: url(../img/star-icons.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    display: inline-block;
}

.filter-range {
    width: 317px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;

    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    height: 32px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
    position: relative;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background: #ffffff;
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    vertical-align: top;
    cursor: pointer;
}

.price-range {
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 60px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 35px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 32px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}




