body {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    background-color: #f2f2f2;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    min-width: 1200px;
    margin: 0;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.feature-item h2,
.feature-item-2 h2 {
    color: #ffffff;
}

.feature-item {
    color: #ffffff;
}

.main-navigation,
.search-promo-title {
    color: #333333;
    font-weight: bold;
}

.search-promo-title {
    font-size: 30px;
}

.search-form,
.hashtag {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

input[type=submit] {
    font-size: 21px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

input[type=checkbox] + label {
    color: #ffffff;
}

input[type=range] + label {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.filter {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
}

.filter-title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.copyright {
    color: #000000;
}

.search-result-number,
.card-item-title {
    font-size: 21px;
    color: #000000;
    font-weight: bold;
}

.sort-results-by-title {
    font-size: 12px;
    color: #000000;

}

.sort-by {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}

.rating-number {
    color: #666666;
}

.details {
    font-weight: bold;
    color: #ffffff;
}

html {
  background-color: #f2f2f2;
}












.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -69px;
    z-index: 1;
}

.main-header {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 20px;
    background-color: #ffffff;

}

.main-menu a {
    text-decoration: none;
    color: #000000;
}

.main-menu a:hover {
  color: #81b3d2;
}

.main-menu a:active {
  color: #000000;
  opacity: 0.3;
}

.main-menu li {
    list-style: none;
    width: 22%;
    padding-top: 20px;
    font-size: 14px;
}

.main-menu-right {
    text-align: right;
    float: right;
}

.main-header {
    font-size: 0;
}

.main-menu-left {
    text-align: left;
    float: left;
}

.banner {
    width: 1200px;
    height: 591px;
    margin: 0 auto;
    margin-bottom: 65px;
    background-image: url("../img/main-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo {
    text-align: center;
    margin-bottom: 57px;
}

.promo-title {
    margin-bottom: 30px;
}

.feature,
.feature-2 {
    background-color: #81b3d2;
}

.feature-item {
    width: 33.33%;
    text-align: center;
    float: left;
    box-sizing: border-box;
    padding: 45px;
    margin: 0;
}

.feature-img img {
    width: 66.67%;
    float: right;
    margin: 0;
    height: 256px;
    overflow: hidden;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.advice {
    margin: 0;
}



.advice-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 33.33%;
    background-color: ;
    padding: 165px 0 50px 0;
}

.feature-item-2 {
    width: 33.33%;
    text-align: center;
    float: right;
    padding: 45px;
    box-sizing: border-box;
    color: #ffffff;
    margin: 0;
}

.feature-img-2 img {
    width: 66.67%;
    float: left;
    height: 256px;
    overflow: hidden;
}

.fact {
    list-style: none;
    background-color: #eeeeee;
    margin-bottom: 58px;
    margin: 0;

}

.fact-item {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 33.33%;
    padding: 65px 0 65px 0;
    background-color: ;
}

.search-promo {
    text-align: center;
    margin-top: 65px;
}

.search-promo-description  {
    margin-top: 34px;
    line-height: 24px;

}

.search-promo-btn {
    display: block;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    width: 568px;
    margin: 0 auto;
    padding: 33px 0;
    background-color: #766357;
    text-decoration: none;
    margin-top: 50px;
}

.map {
    width: 1200px;
    height: 593px;
    margin: 0 auto;
    background-image: url("../img/map-full.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer {
    background-color: #ffffff;
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
}

.footer-hashtag {
    width: 33.3%;
    text-align: center;
    vertical-align: top;
    padding-top: 30px;
    padding-bottom: 20px;

}

.footer-social {
    width: 33.3%;
    text-align: center;
    vertical-align: top;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer-copyright {
    width: 33.3%;
    text-align: center;
    vertical-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.copyright {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
.footer-copyright-btn {
  display: inline-block;
  vertical-align: top;
}









form {
    width: 1200px;
    height: 220px;
    margin-bottom: 65px;
    background-image: url("../img/img-blur.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.filter-options {
    float: left;
    width: 20%;
}

.filter-options:first-child {
  margin-left: 6%;
}

.price-a-day {
    float: right;
    width: 26%;
    margin-right: 6%;
}







.search-results {
    margin-left: 6%;
    margin-right: 6%;
    width: 1200px;
}

